apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - inventory-configmap.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - ingress.yaml
  - keycloak-setup.yaml

images:
  - name: {{ backend_image_repo }}
    newTag: latest
  - name: {{ frontend_image_repo }}
    newTag: latest